/* GLOBAL */
.menu {

    margin-top: 3%;

    font-size: 1.25rem;

}

.menu ul {

    list-style-type: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.menu ul li {

    margin: 1%;

}

.menu ul li a {

    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;

}

.menu ul li a:hover {

    text-shadow: black 1px 1px;

}

h1 {

    text-align: center;
    color: rgb(175, 58, 49);
    font-size: 2rem;
    padding-top: 2%;

}

h2 {

    font-size: 1.25rem;

}

main {

    background-color: white;

}

footer {

    margin: 2%;

}

address {

    font-size: 1.25rem;
    max-width: 65%;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;

}

address a {

    transition: 0.3s ease-in-out;

}

address a:hover {

    transform: scale(1.25);

}

.fa-instagram {

    color: aliceblue;

}

.fa-facebook {

    color: blue;
    background-color: white;
    border-radius: 50%;

}

.fa-youtube {

    color: red;

}

.fa-tiktok {

    color: black;

}

/* INDEX */
body {

    background-color: #d10e0e;

}

article, .dernieres_videos {

    max-width: 85%;
    margin: auto;

}

.img {

    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.img img {

    margin: 2%;
    border-radius: 50%;
    width: 60%;
    height: 40%;
    align-self: center;

}

.img p {

    margin-top: 10%;
    margin-left: 5%;

}

.videos {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.videos iframe {

    max-width: 90%;
    height: 30%;
    border: none;
    border-radius: 5%;
    margin-bottom: 5%;
    align-self: center;

}

/* Contact */
form {

    max-width: 100%;
    margin: auto;

}

label {

    font-weight: bold;

}

.nom-prenom {

    max-width: 65%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.input-groupe {

    display: flex;
    flex-direction: column;

    margin-bottom: 2%;

}

.groupe {

    max-width: 65%;
    margin: auto auto 2% auto;

}

.button {

    max-width: 65%;
    margin: 2% auto;

    display: flex;
    justify-content: center;

}

button {

    font-weight: bold;

    width: 50%;
    height: 50px;
    margin: 5% auto;

    background: #d10e0e;
    color: white;

    border: none;
    border-radius: 15px;

    transition: 0.3s ease-in-out;

}

button:hover {

    box-shadow: 2px 2px 4px black;

}

/* Recettes */
.mise-en-forme-recette {

    display: flex;
    flex-direction: column;
    margin: 5% auto;


}

.recette {

    max-width: 80%;
    text-align: center;
    margin: 10% auto;

}

.recette h3 {

    font-size: 1rem;

}

.recette figure {

    max-width: 90%;
    height: 150px;
    margin-bottom: 15%;

}

.recette figure img {

    width: 100%;
    height: 100%;
    border-radius: 25px;

}

.lien-video {

    background-color: #d10e0e;
    border-radius: 15px;
    padding: 5%;
    text-decoration: none;
    color: white;

}

.lien-video:hover {

    box-shadow: 2px 2px 4px black;

}



@media screen and (min-width: 900px) {

    /* GLOBAL */
    .menu {

        font-size: 1.5rem;

    }

    .menu ul {

        flex-direction: row;

    }


    h1 {

        font-size: 3.5rem;

    }

    /* INDEX */
    .img {

        max-width: 75%;
        flex-direction: row;

    }

    .img img {

        max-width: 30%;

    }

    .videos {

        flex-direction: row;

    }

    .videos iframe {

        max-width: 30%;
        max-height: 30%;

    }

    /* Contact */
    form {

        max-width: 65%;

    }

    .nom-prenom {

        flex-direction: row;
        max-width: 80%;

    }

    /* Recettes */
    .mise-en-forme-recette {

        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -5%;

    }

    .recette {

        width: 50%;
        margin: 5% auto;

    }

    .recette h3 {

        font-size: 1.25rem;

    }

    .recette figure {

        height: 50%;

    }


}

